.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.StripeCheckout {
  position: absolute;
  background: #3eb1c8 !important;
  width: 100%;
  margin-left: -135px;
  width: 286px;
  zIndex: 1000;
  opacity: 0;
  margin-top: -21px;

}

#apple-pay-button {
  display: none;
  background-color: black;
  background-image: -webkit-named-image(apple-pay-logo-white);
  background-size: 100% 100%;
  background-origin: content-box;
  background-repeat: no-repeat;
  width: 100%;
  height: 44px;
  padding: 10px 0;
  border-radius: 0px;
  border: none;
  margin-top: 15px;
  cursor: pointer;
}

.logo {
  height: 100%;
  background-image: url('../public/images/HeroImage.jpg');
  background-size: cover;
  background-position: 0% 44px;
  background-repeat: no-repeat;
}

@media (max-width: 400px) {
  .logo {
    background-position: -70px 250px;
    background-repeat: no-repeat;
  }
}

@media (max-width: 920px) {
  .logo {
    background-position: 0px 250px;
    background-repeat: no-repeat;
  }
}
